<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.pro.business.dao.ArchUserMapper" >

  <resultMap id="archUserVO" type="com.sc.pro.api.modelname.vo.ArchUserVO" >
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="ACCOUNT" property="account" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="PRIORITY" property="priority" jdbcType="BIGINT" />
    <result column="IDENTITY_CARD" property="identityCard" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="VARCHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="DATE" />
    <result column="DWELLING_PLACE" property="dwellingPlace" jdbcType="VARCHAR" />
    <result column="POSTALCODE" property="postalcode" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="FAX_NO" property="faxNo" jdbcType="VARCHAR" />
    <result column="SPOUSE_NAME" property="spouseName" jdbcType="VARCHAR" />
    <result column="OA_ACCOUNT" property="oaAccount" jdbcType="VARCHAR" />
    <result column="USER_DESC" property="userDesc" jdbcType="VARCHAR" />
    <result column="PROVIDER_NAME" property="providerName" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="VARCHAR" />
    <result column="FULLNAME" property="fullname" jdbcType="VARCHAR" />
    <result column="OPHONE" property="ophone" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="OTHER" property="other" jdbcType="VARCHAR" />
    <result column="CANSENDSMS" property="cansendsms" jdbcType="BIGINT" />
    <result column="LANGUAGE_" property="language" jdbcType="VARCHAR" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="LAST_UPDATED_DATE" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="CUST_TEXT01" property="custText01" jdbcType="VARCHAR" />
    <result column="CUST_TEXT02" property="custText02" jdbcType="VARCHAR" />
    <result column="CUST_TEXT03" property="custText03" jdbcType="VARCHAR" />
    <result column="CUST_TEXT04" property="custText04" jdbcType="VARCHAR" />
    <result column="CUST_TEXT05" property="custText05" jdbcType="VARCHAR" />
    <result column="CUST_TEXT06" property="custText06" jdbcType="VARCHAR" />
    <result column="CUST_TEXT07" property="custText07" jdbcType="VARCHAR" />
    <result column="CUST_TEXT08" property="custText08" jdbcType="VARCHAR" />
    <result column="CUST_TEXT09" property="custText09" jdbcType="VARCHAR" />
    <result column="CUST_NUMBER01" property="custNumber01" jdbcType="BIGINT" />
    <result column="CUST_NUMBER02" property="custNumber02" jdbcType="BIGINT" />
    <result column="CUST_DATE01" property="custDate01" jdbcType="TIMESTAMP" />
    <result column="CUST_DATE02" property="custDate02" jdbcType="TIMESTAMP" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="MSN" property="msn" jdbcType="VARCHAR" />
    <result column="SOURCE_SYSTEM" property="sourceSystem" jdbcType="VARCHAR" />
    <result column="SOURCE_SYSTEM_ID" property="sourceSystemId" jdbcType="VARCHAR" />
    <result column="SOURCE_SYSTEM_LAST_UPDATE_DATE" property="sourceSystemLastUpdateDate" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="EXPIRATION_DATE" property="expirationDate" jdbcType="TIMESTAMP" />
    <result column="LOGIN_COUNT" property="loginCount" jdbcType="BIGINT" />
  </resultMap>
   
   <select id="getArchUser" parameterType="com.sc.pro.api.modelname.vo.ArchUserVO" resultMap="archUserVO" >
    	 select * from arch_user where account=#{account}
   </select>
   
   <select id="queryArchUser" parameterType="com.sc.pro.api.modelname.vo.ArchUserVO" resultMap="archUserVO" >
    	 select * from arch_user
    	 <where>
    	    <if test="null!=account and ''!=account">
    	    	and account=#{account} 
    	    </if>
    	    <if test="null!=flag and ''!=flag">
    	    	and flag=#{flag} 
    	    </if>
    	    <if test="null!=email and ''!=email">
    	    	and email like  concat('%', #{email},'%')
    	    </if>
    	 </where>
   </select>
   
</mapper>